
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Lecturer/Views/Shared/_LayoutLecturer.cshtml";
}



<section class="Login">
	<div class="background">
		<div class="shape"></div>
		<div class="shape"></div>
	</div>
	<form asp-action="ChangePassword" method="post">
		<h3>Thay đổi mật khẩu !</h3>
		<label for="password">Mật khẩu</label>
		<input type="password" name="password" placeholder="Mật khẩu" id="pass" required="">
		<label for="password">Nhập lại mật khẩu</label>
		<input type="password" name="confirmPassword" placeholder="Mật khẩu" id="confirmpass" required="">
		<button type="submit" onclick="return CheckPass();">Lưu lại</button>
	</form>
</section>
<script>
    function CheckPass() {
        var pass = document.getElementById('pass').value;
        var confirmpass = document.getElementById('confirmpass').value;
        var check = true;
        if (pass !== confirmpass) {
            Swal.fire({
                icon: 'error',
                title: 'Lỗi!',
                text: 'Mật khẩu không khớp! vui lòng nhập lại'
            });
            check = false;
        }
        return check;
    }
</script>