@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
    var ss = HttpContextAccessor.HttpContext.Session.GetString("LTLogin");

}

    @if(ss != null){
    <div>
        @await Component.InvokeAsync("Student")
    </div>
    }
    else
    {
        <div>
            <h1>Chào mừng đến với website đánh giá rèn luyện dành cho sinh viên</h1>
        </div>
    }


