
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Style -->
<link href="~/Student/login/css/style.css" rel="stylesheet" />
<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
<!-- //Fonts -->

<div class="w3layoutscontaineragileits">
			<div class="login-box">
				<div class="login-logo">
					<a href="#"><b>Admin đăng nhập tại đây</b></a>
				</div>

				<div class="card">
					<div class="card-body login-card-body">
						<p class="login-box-msg">Đăng nhập</p>
						<form asp-action="ChangePassword" method="post">
	
							<div class="input-group mb-3">
								<input type="password" class="form-control" id="pass" placeholder="Mật khẩu" name="password" required="">
								<div class="input-group-append">
									<div class="input-group-text">
										<span class="fas fa-lock"></span>
									</div>
								</div>
							</div>
						<div class="input-group mb-3">
						<input type="password" class="form-control" id="confirmpass" placeholder="Nhập lại mật khẩu" name="confirmPassword" required="">
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
							<div class="text-danger"><i class="text-danger">@TempData["errorLogin"]</i></div>
							<div class="row">
								<div class="col-8">
									<div class="icheck-primary">
										<a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-circle-left"></i>Quay lại</a>
									</div>
								</div>

								<div class="col-4">
									<button type="submit" onclick="return CheckPass();" class="btn btn-primary btn-block">Lưu lại</button>
								</div>

							</div>
						</form>
					</div>

				</div>
			</div>
</div>
<script>
	function CheckPass() {
		var pass = document.getElementById('pass').value;
		var confirmpass = document.getElementById('confirmpass').value;
		var check = true;
		if (pass !== confirmpass) {
			Swal.fire({
				icon: 'error',
				title: 'Lỗi!',
				text: 'Mật khẩu không khớp! vui lòng nhập lại'
			});
			check = false;
		}
		return check;
	}
</script>